 
.landingPage {
    background-image: url('../../../img/blurbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(0.9) brightness(.9);
    width: 415px;
    height: 737px;
    overflow: hidden;
    margin-right: -10px;
    color: white;
  }
  
.bg {
    display: inline-block;
  }

a {
    text-decoration: none;
    font-size: 10pt;
    text-transform: uppercase;
    color: white;
  }

div {
  display: flex;
  align-items: center;
  }

.customerLogin {
    display: block;
    width: 414px;
    color: white;
    text-align: center;
  }

.customerLoginNext {
  justify-content: center;
  color: white;
  text-align: center;
  }

.vendorLogin {
    display: block;
    width: 414px;
    color: white;
    text-align: center;
  }

  .vendorLoginNext {
    justify-content: center;
    color: white;
    text-align: center;
    }

.custBtn {
    border: none;
    border-radius: 0%;
    font-size: 30px;
    padding: 16px;
    width: 100%;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

    &:hover {
      border: none;
      border-radius: 0%;
      background-color: white;
      color: #555555;
    }
  }

.vendorBtn {
    border: none;
    border-radius: 0%;
    font-size: 30px;
    padding: 16px;
    width: 100%;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    
    &:hover {
      border: none;
      border-radius: 0%;
      background-color: white;
      color: #555555;
    }
  }

  .submitBtn {
    font-size: 12pt;
    text-transform: uppercase;
    background-color: transparent;
  }

input[type=text], input[type=password] {
    text-align: center;
    margin-bottom: 10px;
    color: white;
    width: 200px;
    height: 30px;
    border-bottom: 1px solid white;
  }

