 
 .landingPage {
    background-image: url('../../../img/blur-bg.jpg');
    filter: contrast(0.9) brightness(.9);
    width: 415px;
    height: 737px;
    overflow: hidden;
    margin-right: -10px;
  }
  
  .bg {
    display: inline-block;
  }

  a {
    text-decoration: none;
    font-size: 18px;
    color: white;
  }

div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  }

  .customerLogin {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    align-content: center;
  }

  .customerLoginNext {
    color: white;
  }

  .customerRegister {
    text-align: center;
    color: white;
  }

  .vendorLogin {
    margin-left: 10px;
    margin-right: auto;
    color: white;
  }

  .custBtn {
    font-size: 30px;
    padding: 16px;
    border-radius: 8px;
    width: 180px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  .custBtn:hover {
    background-color: white;
    color: black;
  }

  .vendorBtn {
    font-size: 30px;
    padding: 16px;
    border-radius: 8px;
    width: 180px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  input[type=text], input[type=password] {
    text-align: center;
    color: white;
    width: 350px;
  }
