<div class="landingPage">
<div class="bg">
<div *ngIf="isCustomer" class="customerLogin">
  <h2><button class="custBtn" (click)="customerLoginBtnPress()">Customer</button></h2>
  <div class="customerLoginNext">
  <form *ngIf="customerLoginPressed">

    <input type="text" name="username" id="username" placeholder="Enter Username" [(ngModel)]="username">
    <br>
    <input type="password" name="password" placeholder="Enter Password" id="password" [(ngModel)]="password">
    <br>
    <br>
    <button (click)="customerLogin()">Submit</button>
  </form>
</div>
  <br>
  <div class="customerRegister">
    <h2><a *ngIf="!isLoggedIn" routerLink="register">Register as Customer</a></h2>
  </div>
  </div>
  <div *ngIf="isVendor" class="vendorLogin">
    <h2><button class="vendorBtn" (click)="vendorLoginBtnPress()">Vendor</button></h2>
    <form *ngIf="vendorLoginPressed">

      <input type="text" name="username" id="username" placeholder="Enter Username" [(ngModel)]="username">
      <br>

      <input type="password" name="password" id="password" placeholder="Enter Password" [(ngModel)]="password">
      <br>
      <br>
      <button (click)="vendorLogin()">Submit</button>
      <br>
    </form>
    <br>
    <div class="vendorRegister">
      <h2><a *ngIf="!isLoggedIn" routerLink="vendorRegister">Register as Vendor</a></h2>
    </div>
  </div>
</div>