<div class="landingPage">
  <div class="bg">
    <div *ngIf="isCustomer" class="customerLogin">
      <button class="custBtn" (click)="customerLoginBtnPress()">Customer</button>
      <div class="customerLoginNext" *ngIf="customerLoginPressed">
        <form>
          <div class="customerUsername">
            <input type="text" name="username" id="username" placeholder="USERNAME" [(ngModel)]="username">
          </div>
          <div class="customerPassword">
            <input type="password" name="password" placeholder="PASSWORD" id="password" [(ngModel)]="password">
          </div>
          <button class="submitBtn" (click)="customerLogin()">SIGN IN</button>
        </form>
      </div>
      <div class="customerSign">
        Not registered?
        <a *ngIf="!isLoggedIn" routerLink="register"> Sign up here </a>
      </div>
    </div>

    <div *ngIf="isVendor" class="vendorLogin">
      <button class="vendorBtn" (click)="vendorLoginBtnPress()">Vendor</button>
      <div class="vendorLoginNext" *ngIf="vendorLoginPressed">
        <form>
          <div class="vendorUsername">
            <input type="text" name="username" id="username" placeholder="USERNAME" [(ngModel)]="username">
          </div>
          <div class="vendorPassword">
            <input type="password" name="password" id="password" placeholder="PASSWORD" [(ngModel)]="password">
          </div>
          <button class="submitBtn" (click)="vendorLogin()">SIGN IN</button>

        </form>
      </div>
      <div class="vendorSign">
        Not registered?
        <a *ngIf="!isLoggedIn" routerLink="vendorRegister">Sign up here</a>
      </div>  
    </div>
  </div>