<div class="messages-page">
    <div class="mesgHome">
        <div class="all-messages">
            <p class="messages"> All Messages </p>
            <div class="date" Date>
                <h3>Date</h3>
                12/24
                12/21
                12/80
            </div>
            <div class="sender" Sender>
                <h3>Sender</h3>
                john
                doe
                yeah
            </div>
            <div class="subject" Subject>
                <h3>Subject</h3>
                blah blah blah
                blah
                blah blah
            </div>
        </div>
    </div>