<table class="table">
        <tr>
            <td class="column"> Date&nbsp;</td>
            <td class="column"> Sender&nbsp;</td>
            <td class="column"> Subject&nbsp;</td>
        </tr>
        <tr>
            <td> 12/08 &nbsp;</td>
            <td> SHAD G&nbsp;</td>
            <td>What doing?&nbsp;</td>
        </tr>
        <tr>
            <td> 12/12 &nbsp;</td>
            <td>Jenn A&nbsp;</td>
            <td>Hello, it's me&nbsp;</td>
        </tr>
        <tr>
            <td> 12/13 &nbsp;</td>
            <td>Jenn A&nbsp;</td>
            <td>Bye Bye&nbsp;</td>
        </tr>
</table>