.dashboard{
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: inline;
    text-align: center;
    background-color: white;
    border: 1px solid lightgrey;
}

.links{
    width: 100%; 
    padding: 10px;
}

div{
    // border-top: solid black;
    display: inline;
    width: 100%;

}

.icon{
    height: 35px;
    width: 35px;
    margin: 18px;
}
