.dashboard {
    //position: fixed;
    bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    background-color: darkgray;
}

div {
    display: inline;
}

.icon {
    height: 35px;
    width: 35px;
    margin: 18px;
}
