<!-- const { first_name, last_name, username, email, state, city, zip_code } = req.body; -->
<form>
    <div >
        <label for="username">Username</label>
        <input type="text" name="username" id="username" [(ngModel)]="data.username">
        
        <label for="first_name">first name</label>
        <input type="text" name="first_name" id="first_name" [(ngModel)]="data.first_name">
        
        <label for="last_name">last name</label>
        <input type="text" name="last_name" id="last_name" [(ngModel)]="data.last_name">
        
        <label for="email">email</label>
        <input type="text" name="email" id="email" [(ngModel)]="data.email">
        
        <label for="state">state</label>
        <input type="text" name="state" id="state" [(ngModel)]="data.state">
        
        <label for="city">city</label>
        <input type="text" name="city" id="city" [(ngModel)]="data.city">
        
        <label for="zip_code">zip_code</label>
        <input type="text" name="zip_code" id="zip_code" [(ngModel)]="data.zip_code">
    </div>

    <button (click)="edit()">Submit</button>
</form>