<div class="new-message-component" *ngIf="isLoggedIn()">
  <div class="field">
    <label for="user">Name</label>
    <div class="name"> {{ customer.first_name }} {{ customer.last_name }}</div>
  </div>
  <div class="field">
    <label for="message">Message</label>
    <input id="message" [(ngModel)]="message">
  </div>

  <button (click)="newMessage(message, user)" class="btn">Send</button>
</div>

<div class="new-message-component" *ngIf="isVendorLoggedIn()">
  <div class="field">
    <label for="user">Name</label>
    <div class="name"> {{ vendor.first_name }} {{ vendor.last_name }}</div>
  </div>
  <div class="field">
    <label for="message">Message</label>
    <input id="message" [(ngModel)]="message">
  </div>

  <button (click)="newMessageVendor(message, user)" class="btn">Send</button>
</div>