.field {
  display: inline-block;
  margin-right: 25px;
  margin-left: 20px;
}

#message {
  width: 100%;
}

.message{
  border: solid black;
}

.btn{
  color: black;
}

.name{
  font-size: 19px;
}

input {
  padding: 5px;
  font-size: 12px;
  width: 30%;
}

button {
  padding: 8px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
}

.new-message-component{
  margin-left: 15px; 
  margin-top: 15px;
  display: inline-block;
}