All of your post <br><br>

<div class="open"> Open Post </div> <br>
<div class="cust-cards">
        <p class="title"> My speaker is broken </p>
        <img class="img" src="https://i.pinimg.com/originals/4b/0c/61/4b0c61fcf7b761af16ed3aae1234f293.gif"> <br>
        description: Why won't it play music please help<br>
        city: Kahala<br>
        state: HI<br>
        zipcode: 96816<br>
        budget: $200<br>
        priority: Medium<br>
        created: a week ago<br>
    </div> <br><br>


<div class="in process"> In Process </div> <br>
<div class="cust-cards">
        <p class="title"> My speaker is broken </p>
        <img class="img" src="https://i.pinimg.com/originals/4b/0c/61/4b0c61fcf7b761af16ed3aae1234f293.gif"> <br>
        description: Why won't it play music please help<br>
        city: Kahala<br>
        state: HI<br>
        zipcode: 96816<br>
        budget: $200<br>
        priority: Medium<br>
        created: a week ago<br>
    </div> <br><br>


<div class="finished"> Finished </div> <br>
<div class="cust-cards">
        <p class="title"> My speaker is broken </p>
        <img class="img" src="https://i.pinimg.com/originals/4b/0c/61/4b0c61fcf7b761af16ed3aae1234f293.gif"> <br>
        description: Why won't it play music please help<br>
        city: Kahala<br>
        state: HI<br>
        zipcode: 96816<br>
        budget: $200<br>
        priority: Medium<br>
        created: a week ago<br>
    </div> <br><br>
