<h2> Job Posts </h2>

<h3 class="open"> Open Post </h3>
<div class="cust-cards" *ngFor="let post of posts">
    <div name="post" >
        <h4 class="title"> {{post.title}} </h4>
        <h5 class="category_id">Category:{{post.category_id}}</h5>
        <img class="img" src="{{post.photo}}">
        <div class="description"> description: {{post.description}}</div>
        <div class="city"> city: {{post.city}} </div>
        <div class="state"> state: {{post.state}} </div>
        <div class="zip_code">zipcode: {{post.zip_code}} </div>
        <div class="price">budget: ${{post.price}} </div>
        <div class="priotity_id">priority: {{post.priority_id}}</div>
        <div class="post_status"> status: {{post.status}} </div>
        <div class="created_at"> created: {{post.created_at}}</div>
    </div>
</div>


