<h2> All of your post </h2>

<h3 class="open"> Open Post </h3> 
<div class="cust-cards">
        <h4 class="title"> My speaker is broken </h4>
        <img class="img" src="https://i.pinimg.com/originals/4b/0c/61/4b0c61fcf7b761af16ed3aae1234f293.gif"> 
        description: Why won't it play music please help
        city: Kahala
        state: HI
        zipcode: 96816
        budget: $200
        priority: Medium
        created: a week ago
    </div> 


<h3 class="in-process"> In Process </h3> 
<div class="cust-cards">
        <h4 class="title"> My speaker is broken </h4>
        <img class="img" src="https://i.pinimg.com/originals/4b/0c/61/4b0c61fcf7b761af16ed3aae1234f293.gif"> 
        description: Why won't it play music please help
        city: Kahala
        state: HI
        zipcode: 96816
        budget: $200
        priority: Medium
        created: a week ago
    </div> 


<h3 class="finished"> Finished </h3> 
<div class="cust-cards">
        <h4 class="title"> My speaker is broken </h4>
        <img class="img" src="https://i.pinimg.com/originals/4b/0c/61/4b0c61fcf7b761af16ed3aae1234f293.gif"> 
        description: Why won't it play music please help
        city: Kahala
        state: HI
        zipcode: 96816
        budget: $200
        priority: Medium
        created: a week ago
    </div> 
