<div class="bg">
  <div class="custForm">
    <h3 class="custRegTitle"> 
      PLEASE COMPLETE FORM BELOW
      <br>
      TO JOIN AS A CUSTOMER
     </h3>
    <form class="form">

      <input name="username" placeholder="CHOOSE USERNAME" type="text" [(ngModel)]="newCustomerForm.username" />

      <input name="first_name" placeholder="FIRST NAME" type="text" [(ngModel)]="newCustomerForm.first_name" />


      <input name="last_name" placeholder="LAST NAME" type="text" [(ngModel)]="newCustomerForm.last_name" />


      <input name="password" placeholder="PASSWORD" type="password" [(ngModel)]="newCustomerForm.password" />


      <input name="email" placeholder="EMAIL ADDRESS" type="text" [(ngModel)]="newCustomerForm.email" />


      <input name="state" placeholder="STATE ABBREVIATION" type="text" [(ngModel)]="newCustomerForm.state" />


      <input name="city" placeholder="CITY" type="text" [(ngModel)]="newCustomerForm.city" />


      <input name="zip_code" placeholder="ZIPCODE" type="text" [(ngModel)]="newCustomerForm.zip_code" />
      <br>
      <br>

      <div class="submitBtn">
        <button (click)="createCustomer()"> Submit </button>
      </div>

    </form>
  </div>
</div>