<form>
  <div>Username:
    <input name="username" type="text" [(ngModel)]="newCustomerForm.username" />
  </div>
  <div>first_name:
    <input name="first_name" type="text" [(ngModel)]="newCustomerForm.first_name" />
  </div>
  <div>last_name:
    <input name="last_name" type="text" [(ngModel)]="newCustomerForm.last_name" />
  </div>
  <div>password:
    <input name="password" type="text" [(ngModel)]="newCustomerForm.password" />
  </div>
  <div>email:
    <input name="email" type="text" [(ngModel)]="newCustomerForm.email" />
  </div>
  <div>state:
    <input name="state" type="text" [(ngModel)]="newCustomerForm.state" />
  </div>
  <div>city:
    <input name="city" type="text" [(ngModel)]="newCustomerForm.city" />
  </div>
  <div>zip_code:
    <input name="zip_code" type="text" [(ngModel)]="newCustomerForm.zip_code" />
  </div>
  <button (click)="createCustomer()"> Submit </button>

</form>