.logout {
    border: solid lightgrey;
    border-radius: 10px;
}

.logout-div {
    position:absolute;
    top:0;
    right:0;
}

.profile-customer {
    text-align: center;
}

.picture {
    display: block;
    border: black solid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.post-router {
    text-decoration: none;
    color: black;
}
