<div class="Customer-home">
    <div class="custHome">
        <div class="home">
        </div>
        <div class="cust-cards">
            <p class="title"> YESSAH </p>
            description: YESSAH<br>
            city: YESSAH<br>
            state: YESSAH<br>
            zipcode: YESSAH<br>
            budget: YESSAH<br>
            priority: YESSAH<br>
            created at : YESSAH<br>
        </div>

        <div class="cust-cards">
            <p class="title"> YESSAH </p>
            description: YESSAH<br>
            city: YESSAH<br>
            state: YESSAH<br>
            zipcode: YESSAH<br>
            budget: YESSAH<br>
            priority: YESSAH<br>
            created at : YESSAH<br>
        </div>

        <div class="cust-cards">
            <p class="title"> YESSAH </p>
            description: YESSAH<br>
            city: YESSAH<br>
            state: YESSAH<br>
            zipcode: YESSAH<br>
            budget: YESSAH<br>
            priority: YESSAH<br>
            created at : YESSAH<br>
        </div>

        <div class="cust-cards">
            <p class="title"> YESSAH </p>
            description: YESSAH<br>
            city: YESSAH<br>
            state: YESSAH<br>
            zipcode: YESSAH<br>
            budget: YESSAH<br>
            priority: YESSAH<br>
            created at : YESSAH<br>
        </div>

    </div>