<div class="Customer-home">
    <div class="custHome">
        <div class="cust-cards" *ngFor="let post of posts">
            <p class="title"> {{post.title}} </p>
            <img class="img" src="https://www.creativeboom.com/uploads/articles/ee/eeb77227176d8056eeed3c4b6159f7e7510bc56b_1100.jpg">
            <br>
            description: {{post.description}}<br>
            city: {{post.city}}<br>
            state: {{post.state}}<br>
            zipcode: {{post.zip_code}}<br>
            budget: {{post.budget}}<br>
            priority: {{post.postPriorityId.type}}<br>
            created: {{post.created_at}}<br>
        </div>

    </div>