<div class="page" *ngIf="isLoggedIn()">
    <h4> Who Do You Wish To Message? </h4>
    <div class="vendors">
        <div class="vendorOne" (click)="onClick()"> Jenn Ahuna </div>
        <div class="vendorTwo" (click)="onClick()"> John Doe </div>
        <!-- <div class="vendorThree" (click)="onClick()"> John Doe </div> -->
    </div>
</div>

<div class="page" *ngIf="isVendorLoggedIn()">
    <h1> Who Do You Wish To Message? </h1>
    <div class="customers">
        <div class="customerOne" (click)="onClick()"> Jane Doe </div>
        <div class="customerTwo" (click)="onClick()"> Shadrach Lagrimas </div>
        <!-- <div class="customerThree" (click)="onClick()"> Shad G </div> -->
    </div>
</div>