h1{
    text-align: center;
}

.notifications{
    text-align: center;
    padding: 15px;
    color: red;
}

.vendors, .customers{
    text-align: center;
}

.vendorOne, .vendorTwo, .vendorThree, .customerOne, .customerTwo, .customerThree{
    border-bottom: lightgrey solid;
    padding: 15px;
}

.page{
    background-image: url('../../../img/blurbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(0.9) brightness(.9);
    width: 415px;
    height: 737px;
    overflow: hidden;
    margin-right: -10px;
    color: white;
    font-size: 14pt;
}