<div class="header">
<div class="Customerlogin">
  <h2><a (click)="customerLoginBtnPress()">Customer Login</a></h2>
  <form *ngIf="customerLoginPressed">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" [(ngModel)]="username">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" [(ngModel)]="password">
    <button (click)="userLogin()">Submit</button>
  </form>
</div>
<div class="vendorLogin">
  <h2><a (click)="vendorLoginBtnPress()">Vendor Login</a></h2>
  <form *ngIf="vendorLoginPressed">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" [(ngModel)]="username">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" [(ngModel)]="password">
    <button (click)="userLogin()">Submit</button>
  </form>
</div>
<div class="customerRegister">
  <h2><a *ngIf="!isLoggedIn" routerLink="">New Customer Register</a></h2>
</div>
<div class="vendorRegister">
  <h2><a *ngIf="!isLoggedIn" routerLink="">New Vendor Register</a></h2>
</div>
<div class="categories">
  <h2><a routerLink="" *ngIf="isLoggedIn">Categories</a></h2>
  <select name="categories" id="categories">
    <option value="1">Automotive</option>
    <option value="2">Electrical</option>
    <option value="3">Plumbing</option>
    <option value="4">Landscaping</option>
    <option value="5">Tayloring</option>
    <option value="6">Childcare</option>
    <option value="7">Painting</option>
    <option value="8">Carpentry</option>
    <option value="9">Pressure Washing</option>
    <option value="10">Other</option>
  </select>
</div>
<div class="search">
  <form>
    <label for="search">Search</label>
    <input type="text" name="search"  id="search" (input)="searchBar()" [(ngModel)]="search">
    <button (click)="postSearch()">Submit</button>
  </form>
</div>
</div>