<div class="header" *ngIf=loggedIn>
<div class="categories">
  <h2><a routerLink="" *ngIf="isLoggedIn">Categories</a></h2>
  <select name="categories" id="categories">
    <option value="1">Automotive</option>
    <option value="2">Electrical</option>
    <option value="3">Plumbing</option>
    <option value="4">Landscaping</option>
    <option value="5">Tayloring</option>
    <option value="6">Childcare</option>
    <option value="7">Painting</option>
    <option value="8">Carpentry</option>
    <option value="9">Pressure Washing</option>
    <option value="10">Other</option>
  </select>
</div>
<div class="search">
  <form>
    <label for="search">Search</label>
    <input type="text" name="search"  id="search" (input)="searchBar()" [(ngModel)]="search">
    <button (click)="postSearch()">Submit</button>
  </form>
</div>
</div>