<h2>Create a New Post!</h2>

<form class="form">
    <div>Title:
        <input name="Title" type="text" [(ngModel)]="NewPostForm.title" />
    </div>
    <div>customer id:
        <input name="customer_id" type="text" [(ngModel)]="NewPostForm.customer_id" />
    </div>
    <div>post priority:
        <input name="post_priority" type="text" [(ngModel)]="NewPostForm.post_priority" />
    </div>
    <div>vendor id:
        <input name="vendor_id" type="text" [(ngModel)]="NewPostForm.vendor_id" />
    </div>
    <div>photo:
        <input name="photo" type="text" [(ngModel)]="NewPostForm.photo" />
    </div>
    <div>description:
        <input name="description" type="text" [(ngModel)]="NewPostForm.description" />
    </div>
    <div>city:
        <input name="city" type="text" [(ngModel)]="NewPostForm.city" />
    </div>
    <div>state:
        <input name="state" type="text" [(ngModel)]="NewPostForm.state" />
    </div>
    <div>zipcode:
        <input name="zip_code" type="text" [(ngModel)]="NewPostForm.zip_code" />
    </div>
    <div>budget:
        <input name="budget" type="text" [(ngModel)]="NewPostForm.budget" />
    </div>
    <div>can bid:
        <select>
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <button class="submit" (click)="createPost()">Submit</button>

</form>