<h2>Create a New Post!</h2>

<form class="form">
    <div>Title:
        <input name="title" type="text" [(ngModel)]="NewPostForm.title" />
    </div>
    <div class="category_id">
        <label for="category_id">Category</label>
        <select name="category" id="category">
            <option value="1">Automotive</option>
            <option value="2">Electrical</option>
            <option value="3">Plumbing</option>
            <option value="4">Landscaping</option>
            <option value="5">Tayloring</option>
            <option value="6">Childcare</option>
            <option value="7">Painting</option>
            <option value="8">Carpentry</option>
            <option value="9">Pressure Washing</option>
            <option value="10">Other</option>
        </select>
    </div>
    <div>username:
        <input name="username" type="text" [(ngModel)]="NewPostForm.username" />
    </div>
    <div class="post_priority">
        <label for="post_priority">Priority</label>
        <select name="post_priority" id="" [(ngModel)]="NewPostForm.post_priority">
            <option value="1">Open</option>
            <option value="2">Emergency</option>
        </select>
    </div>
    <!-- <div>vendor_id:
        <input name="vendor_id" type="text" [(ngModel)]="NewPostForm.vendor_id" />
    </div> -->
    <div>photo:
        <input name="photo" type="text" [(ngModel)]="NewPostForm.photo" />
    </div>
    <div>description:
        <input name="description" type="text" [(ngModel)]="NewPostForm.description" />
    </div>
    <div>city:
        <input name="city" type="text" [(ngModel)]="NewPostForm.city" />
    </div>
    <div>state:
        <input name="state" type="text" [(ngModel)]="NewPostForm.state" />
    </div>
    <div>zip_code:
        <input name="zip_code" type="text" [(ngModel)]="NewPostForm.zip_code" />
    </div>
    <div>budget:
        <input name="budget" type="text" [(ngModel)]="NewPostForm.budget" />
    </div>
    <div class="can_bid">
        <label for="can_bid">Bid Available</label>
        <select name="can_bid" id="can_bid" [(ngModel)]="NewPostForm.can_bid">
            <option value="true">true</option>
            <option value="false">false</option>
        </select>
    </div>
    <button (click)="createPost()">Submit</button>

</form>